/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
}

/* HEADER */
.banner {
    width: 100%;
    height: 60px;
    max-width: 1800px;
    background-color: orange;
    margin-bottom: 30px;
    position: relative;
}

.sottobanner {
    width: 70%;
    height: 60px;
    position: absolute;
    left: 15%;
    right: 15%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.reparto {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;  
    
}

.reparto > a {
    font-size: 7px;
    padding: 1px;
    margin: 0 auto;
    color: white;
    
}

.icons {
    width: 70px;
    height: 20px;
    
    display: flex;
    align-items: center;   
   
}

.icons > i {
    font-size: 15px;
    padding: 1px;
    margin: 0 auto;
    color: white;
}

.logo {
    width: 70px;
    height: 20px;
    
}





/* contenitore generale */

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
}

/* regole imposte dal contenitore generale */
.flex {
    display: flex;
    flex-wrap: wrap;
}

/* suddivisione spazi tra sezioni del contenitore */
.spazi {
    width: calc(100% / 3);
    padding: 10px;
}

/* regole che la sezione impone sugli elementi contenuti, per il posizionamento */
.sezione {
    position: relative;
}

/* sconto */
.sconto {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 8px;
    padding: 0 3px;
    color: aliceblue;
    background-color: red;
}

/* sostenibilità */
.sostenibilità {
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 8px;
    padding: 0 3px;
    color: aliceblue;
    background-color: green;

}

/* sostenibilità per l'ultima sezione */
.sostenibilità2 {

    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 8px;
    padding: 0 3px;
    color: aliceblue;
    background-color: green;

}

/* icona cuoricino */
.heart {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 2px;
    background-color: white;
}

/* descrizione prodotti */

/* marca */
.marca {
    color: grey;
    font-size: 10px;
}

/* modello */
.modello {
    font-size: 14px;
    font-weight: bold;
}

/* prezzi */
.scontato {
    font-size: 10px;
    color: red;
}

.originale {
    color: grey;
    font-size: 10px;
    text-decoration: line-through;
}

/* effetto hover */

/* do una classe al contenitore dell'immagine */
.img1 {
    /* imposto l'immagine sostitutiva */
    background-image: url(../img/img/1b.webp);
    /* impongo la misura */
    background-size: cover;


}

.img1:hover img {
    opacity: 0;
}

.img2 {
    background-image: url(../img/img/2b.webp);
    background-size: cover;


}

.img2:hover img {
    opacity: 0;
}

.img3 {
    background-image: url(../img/img/3b.webp);
    background-size: cover;
}

.img3:hover img {
    opacity: 0;
}

.img4 {
    background-image: url(../img/img/4b.webp);
    background-size: cover;
}

.img4:hover img {
    opacity: 0;
}

.img5 {
    background-image: url(../img/img/5b.webp);
    background-size: cover;
}

.img5:hover img {
    opacity: 0;
}

.img6 {
    background-image: url(../img/img/6b.webp);
    background-size: cover;
}

.img6:hover img {
    opacity: 0;
}




/* footer */

.footerbanner {
    width: 100%;
    margin-top: 20px;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footercontainer {
    width: 70%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.footercontainer > * {
    color: white;
}


.boolando {
    margin-top: 10px;
}

.trovaci {
    margin-top: 10px;
}


.boolando > p {
    font-size: 10px;
}

.trovaci > a {
    color: white;
    padding: 5px;
}


